h2 {
    color: rgb(145, 74, 145);
}

.coolSongs {
    color:rgb(233, 173, 233);
    background-color: rgb(33, 35, 121);
    padding:15px;
    border-radius: 15px;
    text-decoration: none;
    list-style: none;
  

}

.selected {
    color:rgb(253, 0, 148);
    background-color: rgb(21, 3, 42);
    border-radius: 15px;
}